.recommended{
    flex-basis: 30%;
    .sideVideoList{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        img{
            flex-basis: 49%;
            width: 50%;
        }
        .infoVid{
            flex-basis: 49%;
            h4{
                font-size: 13px;
                margin-bottom: 5px;
            }
            p{
                color: #5a5a5a;
            }
        }
    }
}